* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.menu {
    height: 400px;
    background-color: coral;
    display: flex;
}

.link {
    background-color: aquamarine;
    height: 50px;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
}
